<div id="cart-list">
    {% if products %}
        {% for item in products.cart_products %}
            <div class="list-element" id="cart-elemet-{{ item.product.id }}">
                <div class="product-img">
                    <img src="{{ item.product.attr.kep_url.value }}" class="img-rounded">
                </div>
                <div class="product-content">
                    <h4>{{ item.product.name }}</h4>
                    <div><span class="attr-name">{{ item.product.attr.szerzo.name }}:</span>{{ item.product.attr.szerzo.value }}</div>
                    <div><span class="attr-name">{{ item.product.attr.kiado.name }}:</span>{{ item.product.attr.kiado.value }}</div>
                    <div class="{% if item.product.discount.discount_price %} line-through {% endif %}"><span class="attr-name">{{ item.product.attr.ar.name }}:</span>{{ item.product.attr.ar.value }} HUF</div>
                    {% if item.product.discount.discount_price %}
                        <div><span class="attr-name">Kedvezményesen:</span>{{ item.product.discount.discount_price }} HUF</div>
                    {% endif %}
                </div>
                <div class="product-icons">
                    <i class="load"></i>
                    <i class="icon-shopping-cart add-product" id="{{ item.product.id }}"></i>
                    <i class="icon-minus-sign delete-product" id="{{ item.product.id }}"></i>
                    <div class="product-quantity">{{ item.quantity }} db</div>
                    <div class="product-quantity">{{ item.productTotalSum }} HUF</div>
                </div>
                <div class='clear'></div>
            </div>
        {% endfor %}
        <div class="total">
            Ár kedvezmény nélkül: <span class="price">{{ products.total_price }}</span> HUF |
            Kedvezmény összesen: <span class="price">{{ products.discount_amount }}</span> HUF |
            Fizetendő: <span class="price">{{ products.total_discount_price }}</span> HUF
        </div>
    {% else %}
        <div class="list-element">
            Upsz, a kosaradban jelenleg egy termék se található!
        </div>
    {% endif %}
</div>