{% extends 'TestWebshopBundle::layout.html.twig' %}
 {% block body %}
    <section>
         <div class="profile">
             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 Üdvözöllek <b>{{ app.user.username |trans({'%username%': app.user.username}, 'FOSUserBundle') }}</b> !
                 <a href="{{ path('fos_user_security_logout') }}">
                     {{ 'Kilépés'|trans({}, 'FOSUserBundle') }}
                 </a>
             {% else %}
                 <a href="{{ path('fos_user_security_login') }}">{{ 'Belépés'|trans({}, 'FOSUserBundle') }}</a>
             {% endif %}
             {% if cart is defined %}
                 <a href="{{ path('_welcome') }}"> | Termék lista</a>
             {% endif %}
         </div>
         <div class="cart">
             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 <i class="load"></i><span class="put-cart"><i class="icon-hdd"></i>Kosár mentése</span> |
                 </i><span class="load-cart"><i class="icon-hdd"></i>Mentett kosár betöltése</span> |
                 {% if cart is defined %}
                     </i><span class="remove-cart"><i class="icon-remove-sign"></i>Kosár törlése</span> |
                 {% endif %}
             {% endif %}
             <a href="{{ path('_welcome') }}cart"><i class="icon-shopping-cart"></i>Kosár tartalma: <span class="cart-pieces">{{ cartproductsnum }}</span> db.</a>
         </div>
        <div class="clear"></div>
     </section>
     <section id="product-list">
         {% if cart is defined %}
            {% include "TestWebshopBundle:Default:cart.html.twig" with { products: products } %}
         {% else %}
             {% include "TestWebshopBundle:Default:list.html.twig" with { products: products } %}
         {% endif %}
         <div class='clear'></div>
     </section>
     <footer>

     </footer>
 {% endblock body %}

