{% for item in products %}
    <div class="list-element">
        <div class="product-img">
            <img src="{{ item.attr.kep_url.value }}" class="img-rounded">
        </div>
        <div class="product-content">
            <h4>{{ item.name }}</h4>
            <div><span class="attr-name">{{ item.attr.szerzo.name }}:</span>{{ item.attr.szerzo.value }}</div>
            <div><span class="attr-name">{{ item.attr.kiado.name }}:</span>{{ item.attr.kiado.value }}</div>
            <div class="{% if item.discount.discount_price %} line-through {% endif %}"><span class="attr-name">{{ item.attr.ar.name }}:</span>{{ item.attr.ar.value }} HUF</div>
            {% if item.discount.discount_price %}
                <div><span class="attr-name">Kedvezményesen:</span>{{ item.discount.discount_price }} HUF</div>
            {% endif %}
        </div>
        <div class="product-icons">
            <i class="load"></i>
            <i class="icon-shopping-cart add-product" id="{{ item.id }}"></i>
            <i class="icon-plus-sign add-product" id="{{ item.id }}"></i>
        </div>
        <div class='clear'></div>
    </div>
{% endfor %}