<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/test/css/bftest.css') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <header>
            <a href="{{ path('_welcome') }}"><img src="http://bigfish.hu/workspace/images/logo.png"></a>
        </header>
        <div id="content">
            {% block body %}<div class="content"></div>{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('bundles/test/js/rest.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/test/js/bftest.js') }}" type="text/javascript"></script>
            {% endblock javascripts %}
        </div>
    </body>
</html>