{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
<div>
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div>
            <label for="username">Felhasználónév</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div>
            <label for="password">Jelszó</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div>
            <input class="btn" type="submit" id="_submit" name="_submit" value="Belépés" />
        </div>
    </form>
</div>
{% endblock fos_user_content %}
