body {
    margin:0 0 0 0; padding:0px;
}

.clear
{
    clear: both
}

.load{
    display: none;
    width: 16px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background: url("../img/ajax-loader.gif");
}

.line-through{
    text-decoration:line-through
}

#content {
    width:900px;
    margin:0px auto;
    text-align:left;
    padding:15px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color:#eee;
    display: block;

}

#content .profile{
    float: left;
}
#content .cart{
     float: right;
}

#content .product{}

.list-element{
    position: relative;
    margin: 15px 0;
    padding: 14px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.list-element .product-img{
    float: left;
    padding-right:5px;
}
.list-element .product-img img{
    width: 80px;
    height: 100px;
}
.list-element .product-content{
    float:left;
    width: 83%;
}
.list-element .product-content .attr-name{
    text-transform: capitalize;
    font-weight: bold;
}
.list-element .product-icons{
    width: 7%;
    float: left;
    text-align: right;
}
.list-element .product-icons .add-product{
   cursor: pointer;
}
.list-element .product-icons .product-quantity{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px
}
.list-element .product-icons .delete-product{
   cursor: pointer;
}

.cart .put-cart, .load-cart, .remove-cart{
   cursor: pointer;
}
.total{
    float: right;
    font-size: 15px;
}
.total .price{
    font-weight: bold;
}



